<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/singnin" method="POST">
        <h2>Register User</h2>
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="birthdate" placeholder="Birthdate (YYYY-MM-DD)" required>
        <input type="text" name="job_title" placeholder="Job Title">
        <input type="text" name="favorite_music_genre_1" placeholder="Favorite Music Genre 1">
        <input type="text" name="favorite_music_genre_2" placeholder="Favorite Music Genre 2">
        <input type="text" name="favorite_music_genre_3" placeholder="Favorite Music Genre 3">
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="numberphone" placeholder="Phone Number">
        <input type="text" name="cpf" placeholder="CPF" required>
        <input type="text" name="address" placeholder="Address">
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>